# -----------------------------------------------------------------------------
# SHOPIFY STOREFRONT API CONFIGURATION
# -----------------------------------------------------------------------------
# Dominio de tu tienda de Shopify (sin https://)
VITE_SHOPIFY_STORE_DOMAIN=bruto-atelier.myshopify.com

# Storefront Access Token generado en Shopify Admin > App Development
VITE_SHOPIFY_STOREFRONT_TOKEN=tu_storefront_access_token_aqui

# Versión de la API de Shopify Storefront
VITE_SHOPIFY_API_VERSION=2024-07
